# ==============================================================================
# .dockerignore for SAD2XS
# =============================================
# Author(s):  John P T Salvesen
# Email:      john.salvesen@cern.ch
# Date:       30-09-2025
# ==============================================================================

.git
__pycache__/
*.pyc
.env
.venv
build/
dist/
