# ==============================================================================
# .gitignore for SAD2XS
# =============================================
# Author(s):  John P T Salvesen
# Email:      john.salvesen@cern.ch
# Date:       01-10-2025
# ==============================================================================

# ==============================================================================
# Allow empty folders to be kept using a .gitkeep file
# ==============================================================================
!.gitkeep

# ==============================================================================
# Ignore Byte-compiled / optimized / DLL files
# ==============================================================================
__pycache__/
.pytest_cache

# ==============================================================================
# Ignore MacOS Hidden Files
# ==============================================================================
*.DS_Store

# ==============================================================================
# Ignore package distribution files
# ==============================================================================
build
dist
*.egg-info

# ==============================================================================
# Ignore large data files
# ==============================================================================
*.dat
*.npy
*.csv
*.png
*.jpg
*.jpeg
*.gif

# ======================================
# Allow the readme images
# ======================================
!README/*.png

# ==============================================================================
# Ignore package build instructions
# ==============================================================================
build_instructions

# ==============================================================================
# Ignore unit test diagnostic outputs
# ==============================================================================
/tests/outputs
/tests/test_lattice.sad
/tests/temporary_sad_twiss.sad
/tests/temporary_sad_twiss.tfs

# ==============================================================================
# Ignore private lattice files
# ==============================================================================
/private_lattice_tests

# ==============================================================================
# Ignore output lattices
# ==============================================================================
/lattice_tests/out
